<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Database</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Total Number of Products</td>
        <td>Total Number of Categories</td>
      </tr>
      <tr>
        <td><%=@total_product_count%></td>
        <td><%=@total_category_count%></td>
      </tr>
      </tbody>
    </table>

  </div>

</section>


