<tr>
  <td>
    <h4><%= category.name %></h4>
    <br>
  </td>
  <td>
    ...
  </td>
  <td>
    <%= category.created_at.strftime("%B %d, %Y at %T") %>
  </td>
  <%# <td>
    <%= link_to fa_icon('trash'), [:admin, product], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
  </td> 
</tr>